ServiceDelivery.Client/wwwroot/assets
ServiceDelivery.Client/Requirement2.txt
ServiceDelivery.Client/Requirement.txt
# Local Netlify folder
.netlify
ServiceDelivery.Client/scripts/certs
ServiceDelivery.Api/Infrastructure/SharedFiles
Activation.Client/obj
Activation.Client/bin
Activation.Server/bin
Activation.Server/obj
ServiceDelivery.ProfileService/bin
ServiceDelivery.ProfileService/obj
ServiceDelivery.Api/bin
ServiceDelivery.Api/obj