@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <div class="text-center p-4">
            @* <p class="text-lg font-semibold">Signing you in…</p> *@
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading…</span>
            </div>
        </div>
    </LoggingIn>
    <CompletingLoggingIn>
        <div class="text-center p-4">
            @* <p class="text-lg font-semibold">Signing you in…</p> *@
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading…</span>
            </div>
        </div>
    </CompletingLoggingIn>
    <LogOut>
        <div class="text-center p-4">
            @* <p class="text-lg font-semibold">Signing you in…</p> *@
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading…</span>
            </div>
        </div>
    </LogOut>
    <CompletingLogOut>
        <div class="text-center p-4">
            @* <p class="text-lg font-semibold">Signing you in…</p> *@
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading…</span>
            </div>
        </div>

    </CompletingLogOut>
    <LogOutSucceeded>
        @RedirectAfterLogout()
    </LogOutSucceeded>
    <UserProfile>

        <OfflineGuard>
            <AuthorizeView>
                <Authorized>
                    <div class="text-center p-4">
                        <UserToken />
                    </div>
                </Authorized>
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeView>
        </OfflineGuard>

    </UserProfile>
</RemoteAuthenticatorView>

@code {
    [Parameter] public string Action { get; set; }

    [Inject]
    private NavigationManager Navigation { get; set; }
    private RenderFragment RedirectAfterLogout() => builder =>
    {
        Navigation.NavigateTo("/");
    };
}